<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary" no-lines>
      <ion-avatar item-start>
        <img src="https://scontent.fcgr1-1.fna.fbcdn.net/v/t1.0-1/p160x160/13267736_1072426699483594_8589231699411749167_n.jpg?oh=b2451f9d0241fe904f6f35729aa78678&oe=59D7D571">
      </ion-avatar>
      <h1 ion-text text-center color="light" *ngIf="empresaSelecionada"><b>{{empresaSelecionada.name}}</b></h1>
      <button ion-button color="secondary" full round><ion-icon name="pin" color="danger"></ion-icon>&nbsp;&nbsp;Alterar localização</button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Locais</ion-label>
    <ion-select [(ngModel)]="empresaSelecionada">
      <ion-option *ngFor="let local of locais" [value]="local">{{local.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="foto" no-lines>
    <img [src]="foto" />
  </ion-item>
  
  <ion-item no-lines>
    <button ion-button item-start icon-only color="primary" (click)="obterFoto()" outline round block><ion-icon name="camera"></ion-icon></button>
  </ion-item>

  <ion-item no-lines>
    <ion-label floating>Qual sua opinião sobre este lugar?</ion-label>
    <ion-textarea required [(ngModel)]="avaliacao.descricao"></ion-textarea>
  </ion-item>

  <ion-item no-lines>
    <ion-row>
      <ion-col>
        <button ion-button block item-end color="primary" (click)="fechar()" outline round>desistir</button>
      </ion-col>
      <ion-col>
        <button ion-button block item-end color="primary" (click)="adicionaAvaliacao()" round>avaliar</button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>