<ion-content>

  <ion-refresher (ionRefresh)="atualizarPagina($event)">
    <ion-refresher-content color="primary" refreshingSpinner="crescent" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let avaliacao of avaliacoes" class="card-avaliacao">

    <ion-item color="secondary">
      <ion-avatar item-start>
        <img class="foto-usuario-avaliacao" src="https://scontent.fbsb8-2.fna.fbcdn.net/v/t1.0-9/13267736_1072426699483594_8589231699411749167_n.jpg?oh=2cd084c7169c45abcb3c94ab65e1a46d&oe=5A798D4A">
      </ion-avatar>
      <h3 ion-text text-sm style="font-size: 13px !important;"><b>{{avaliacao.nomeDoUsuario}}</b></h3>
      <h2 ion-text color="third"><b>{{avaliacao.nomeDaEmpresa}}</b></h2>
      <p style="color:#b36f42;"><b>{{avaliacao.enderecoCompletoDaEmpresa}}</b></p>
      <ion-fab right top >
        <button ion-fab mini  class="avaliacao-botao-de-navegacao" (click)="iniciarNavegacaoAteLocal(avaliacao)" color="third"><ion-icon name="pin" color="secondary"></ion-icon></button>
      </ion-fab>
    </ion-item>

    <img *ngIf="avaliacao.imagem" src="{{avaliacao.imagem}}">

    <ion-card-content>
      <p>{{avaliacao.descricao}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
        <ion-icon name="heart-outline" ></ion-icon>
        <div>{{avaliacao.curtidas}}</div>
      </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
      <ion-icon name="text"></ion-icon>
      1 Comentários
    </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>

<ion-fab bottom right>
  <button ion-fab color="primary" (click)="abrirModalAdicionaAvaliacao()" large><ion-icon name="md-thumbs-up" color="third"></ion-icon></button>
</ion-fab>